<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IMajorService" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://server-edo:9733/major_wcf/MajorService/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMajorService"
        contract="wcf_major.IMajorService" name="BasicHttpBinding_IMajorService" />
    </client>
  </system.serviceModel>
</configuration>