
@{
    ViewBag.Title = "Личный кабинет";
}
<div id="index_body"></div>

<div id="modDialogSverka" class="modal fade" tabindex="-1" role="dialog">
    <div id="dialogContentSverka" class="modal-dialog modal-lg"></div>
</div>
<div id="modDialogClose" class="modal fade" tabindex="-1" role="dialog">
    <div id="dialogContentClose" class="modal-dialog modal-lg"></div>
</div>
<div id="modDialogSignFile" class="modal fade" tabindex="-1" role="dialog">
    <div id="dialogContentSignFile" class="modal-dialog modal-lg"></div>
</div>
<div id="modDialogXmlSogl" class="modal fade" tabindex="-1" role="dialog">
    <div id="dialogContentXmlSogl" class="modal-dialog modal-lg"></div>
</div>