
@{
    ViewBag.Title = "Index";
}

<h2>Админка</h2>


<ul>    
    <li>@Html.ActionLink("Пользователи", "Index", "Account", routeValues: null, htmlAttributes: new { title = "Пользователи" })</li>
</ul>