


@{
    ViewBag.Title = "Index";
}

<h2>Правила</h2>

<p>
    @Html.ActionLink("Добавить Правило", "Create")
</p>

@{Html.RenderPartial("SearchFormRuleSystems");}

@{Html.RenderPartial("SearchRuleSystems");}





